// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #59768F;
$hoverColour: darken($linkColour, 10%);
$captionColour: #D39700;
$white: #fff;

$backgroundColour: #DFF9FD;
$headerColour: #9BD1E5;
$codeBackgroundColour: darken($backgroundColour, 5%);
